/* Team page styles goes here */
.team {
    margin-left: 15%;
    display: block;
    text-align: center;
    width: 70%;

}

.team-user {
    float:left;
    margin-left:15px;
    margin-top:10px;
    width:300px;
    height:350px;
    background-color:rgb(223, 223, 223);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
}

.team-user img {
    width: 250px;
}

.team .name {
    font-size: 60px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-left: -8%;
}