.test {
    width: 30%;
    margin: 0 auto;
    display: block;
}
.test::after {
    content: '';
    display: block;
    clear: both;
}


.nms {
    font-size: 30px;
    width: 50%;
    height: 50px;
    float: left;
    line-height: 50px;
    margin-top: 10px;
}

.info {
    font-size: 30px;
    width: 50%;
    float: left;
    margin-top: 10px;
}

.name {
    font-size: 60px;
    font-weight: bold;
    display: block;
    text-align: center;
}

input.inps {
    background: white;
    border-bottom: 2px solid #f2f2f5;
    color: #b0b1b9;
    display: block;
    font-size: 15px;
    height: 50px;
    line-height: 38px;
    padding: 0 18px;
    width: 100%;
    border: 2px solid #e8e8e8;
}

input.inps:focus, input.inps:hover {
    background: #f2f2f5;
    border-bottom: 2px solid #838abd;
    color: #838abd;
    font-family: FSElliotPro-Bold;
}

.centr{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.button_test{
    width: 130px;
    height: 60px;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 10px;
    line-height: 40px;
    border: 0;
    padding: 0;
    transition: .9s;
}
.button_test:hover{
    width: 130px;
    height: 60px;
    background-color: #808080;
    font-size: 30px;
    color: black;
    padding: 10px;
    line-height: 40px;
    border: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: .5s;
}